<a href="https://colab.research.google.com/github/leekh8/Colaboratory/blob/main/ex01_deepLearning_student%EC%84%B1%EC%A0%81%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%cd '/content/drive/MyDrive/Colab Notebooks/Colaboratory/AISchool/'

/content/drive/MyDrive/Colab Notebooks/Colaboratory/AISchool

In [4]:
!ls

Data
ex00_티쳐블_머신_활용_동물분류하기.ipynb
ex01_deepLearning_student성적예측.ipynb
Untitled0.ipynb

# 데이터로딩

In [5]:
import pandas as pd

In [8]:
data = pd.read_csv('./Data/student+performance/student-mat.csv',delimiter=';')

In [9]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [10]:
X = data[['studytime']]

In [11]:
y = data['G3']

In [12]:
print(X.shape, y.shape)

(395, 1) (395,)

# 모델링
 - 모델 생성
 - 모델 학습
 - 모델 예측
 - 모델 평가

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer, Dense

In [14]:
# @title 모델 생성
model = Sequential()
model.add(InputLayer(input_shape = (1, )))
model.add(Dense(units = 2, activation = 'sigmoid'))
model.add(Dense(units = 1, activation = 'linear'))

In [15]:
# @title 모델 학습
model.compile(loss = 'mse', optimizer = 'sgd')
model.fit(X, y, epochs = 20)

Epoch 1/20
13/13 [==============================] - 1s 3ms/step - loss: 98.3317
Epoch 2/20
13/13 [==============================] - 0s 2ms/step - loss: 50.6959
Epoch 3/20
13/13 [==============================] - 0s 3ms/step - loss: 31.3884
Epoch 4/20
13/13 [==============================] - 0s 3ms/step - loss: 24.0687
Epoch 5/20
13/13 [==============================] - 0s 2ms/step - loss: 21.8073
Epoch 6/20
13/13 [==============================] - 0s 2ms/step - loss: 21.0781
Epoch 7/20
13/13 [==============================] - 0s 3ms/step - loss: 20.9355
Epoch 8/20
13/13 [==============================] - 0s 2ms/step - loss: 20.9093
Epoch 9/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8941
Epoch 10/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8697
Epoch 11/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8858
Epoch 12/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8622
Epoch 13/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8791
Epoch 14/20
13/13 [==============================] - 0s 3ms/step - loss: 20.8613
Epoch 15/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8679
Epoch 16/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8505
Epoch 17/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8995
Epoch 18/20
13/13 [==============================] - 0s 3ms/step - loss: 20.8648
Epoch 19/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8793
Epoch 20/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8788