<a href="https://colab.research.google.com/github/leekh8/Colaboratory/blob/main/ex01_deepLearning_student%EC%84%B1%EC%A0%81%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd '/content/drive/MyDrive/Colab Notebooks/Colaboratory/AISchool/'

/content/drive/MyDrive/Colab Notebooks/Colaboratory/AISchool

In [ ]:
!ls

Data
ex00_티쳐블_머신_활용_동물분류하기.ipynb
ex01_deepLearning_student성적예측.ipynb
Untitled0.ipynb

# 데이터로딩

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('./Data/student+performance/student-mat.csv',delimiter=';')

In [ ]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
X = data[['studytime']]

In [ ]:
y = data['G3']

In [ ]:
print(X.shape, y.shape)

(395, 1) (395,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 831)

# 모델링
 - 모델 생성
 - 모델 학습
 - 모델 예측
 - 모델 평가

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer, Dense

In [ ]:
# @title 모델 생성
model = Sequential()
model.add(InputLayer(input_shape = (1, )))
model.add(Dense(units = 2, activation = 'sigmoid'))
model.add(Dense(units = 1, activation = 'linear'))

In [ ]:
# @title 모델 학습
model.compile(loss = 'mse', optimizer = 'sgd')
model.fit(X, y, epochs = 20)

Epoch 1/20
13/13 [==============================] - 0s 2ms/step - loss: 94.8807
Epoch 2/20
13/13 [==============================] - 0s 2ms/step - loss: 44.6675
Epoch 3/20
13/13 [==============================] - 0s 2ms/step - loss: 25.7198
Epoch 4/20
13/13 [==============================] - 0s 2ms/step - loss: 21.9102
Epoch 5/20
13/13 [==============================] - 0s 2ms/step - loss: 21.0320
Epoch 6/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8858
Epoch 7/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8386
Epoch 8/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8366
Epoch 9/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8927
Epoch 10/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8468
Epoch 11/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8659
Epoch 12/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8364
Epoch 13/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8814
Epoch 14/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8418
Epoch 15/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8603
Epoch 16/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8395
Epoch 17/20
13/13 [==============================] - 0s 3ms/step - loss: 20.8346
Epoch 18/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8397
Epoch 19/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8743
Epoch 20/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8593

In [ ]:
# @title 모델 학습
model.compile(loss = 'mse', optimizer = 'sgd')
model.fit(X_train, y_train, epochs = 20)

Epoch 1/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3662
Epoch 2/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3774
Epoch 3/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3599
Epoch 4/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3706
Epoch 5/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3649
Epoch 6/20
10/10 [==============================] - 0s 3ms/step - loss: 21.3671
Epoch 7/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3665
Epoch 8/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3639
Epoch 9/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3605
Epoch 10/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3983
Epoch 11/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3669
Epoch 12/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3560
Epoch 13/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3596
Epoch 14/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3620
Epoch 15/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3778
Epoch 16/20
10/10 [==============================] - 0s 3ms/step - loss: 21.3943
Epoch 17/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3642
Epoch 18/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3685
Epoch 19/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3791
Epoch 20/20
10/10 [==============================] - 0s 2ms/step - loss: 21.3683

In [ ]:
# @title 모델 예측
pre = model.predict(X_test)
pre

3/3 [==============================] - 0s 5ms/step

array([[ 9.986025],
       [10.815586],
       [10.57429 ],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.815586],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.815586],
       [10.57429 ],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.815586],
       [ 9.986025],
       [10.57429 ],
       [10.920858],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.920858],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.815586],
       [ 9.986025],
       [10.815586],
       [10.57429 ],
       [ 9.986025],
       [ 9.986025],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ],
       [10.815586],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [ 9.986025],
       [ 9.986025],
       [10.815586],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [ 9.986025],
       [ 9.986025],
       [ 9.986025],
       [ 9.986025],
       [10.57429 ],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.920858],
       [ 9.986025],
       [10.57429 ],
       [10.57429 ],
       [10.57429 ]], dtype=float32)

In [ ]:
# @title 모델평가지표: mse
score = model.evaluate(X_test, y_test)
score

3/3 [==============================] - 0s 5ms/step - loss: 18.7145

18.714508056640625